@import url("https://use.typekit.net/uob7ugr.css");
 //fonts
$fonts: aglet-slab, sans-serif;
$secondary-font: museo-slab, serif;

// radius
$global-radius: 2px;

//sizes
$xs: 15px;
$sm: 26px;
$md: 60px;
$lg: 140px;
$xl: 200px;

// colors
$primary: #3F4B59;
$secondary: #324034;
$accent: #EFB834;
$dark-grey: #60656A;
$grey: #82888F;
$light-grey: #F0F4F7;
$white: #fff;
$black: #020000;

//shadows
$none: none;
$shadow-light: 0px 2px 5px rgba($black, 0.1);
$shadow: 0px 4px 8px rgba($black, 0.25);
$shadow-dark: 0px 20px 25px rgba($black,0.4);
