/* fonts */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://use.typekit.net/uob7ugr.css");

/* import */
@import "reset";
@import "grid";
@import "variables";

/* mixins */
@mixin global-radius {
  -webkit-border-radius: $global-radius;
     -moz-border-radius: $global-radius;
      -ms-border-radius: $global-radius;
          border-radius: $global-radius;
}
@mixin shadow {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin shadow-light {
  -webkit-box-shadow: $shadow-light;
     -moz-box-shadow: $shadow-light;
      -ms-box-shadow: $shadow-light;
          box-shadow: $shadow-light;
}
@mixin shadow-dark {
  -webkit-box-shadow: $shadow-dark;
     -moz-box-shadow: $shadow-dark;
      -ms-box-shadow: $shadow-dark;
          box-shadow: $shadow-dark;
}
@mixin no-shadow {
  -webkit-box-shadow: $none;
     -moz-box-shadow: $none;
      -ms-box-shadow: $none;
          box-shadow: $none;
}
@mixin circle {
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}
@mixin transition {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@mixin oversized {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
@mixin rise {
  position:relative;
  -ms-transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
@mixin opacity{
  opacity: .6;
}

/* global */
body {
  font-family: $fonts;
  font-display: swap;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  img {
    line-height: 0;
    vertical-align:bottom;}
  img::before, img::after {
    clear: both;
  }
}

/* colors */
.primary-color{
    color: $primary;
    fill: $primary;
}
.primary-background{
    background: $primary;
}
.secondary-color{
    color: $secondary;
    fill: $secondary;
}
.secondary-background{
    background: $secondary;
}
.accent-color{
    color: $accent;
    fill: $accent;
}
.accent-background{
    background:$accent;
}
.light-grey-color{
    color:$light-grey;
    fill: $light-grey;
}
.light-grey-background{
    background:$light-grey;
}
.grey-color{
    color:$grey;
    fill: $grey;
}
.grey-background{
    background:$grey;
}
.dark-grey-color{
    color:$dark-grey;
    fill: $dark-grey;
}
.dark-grey-background{
    background:$dark-grey;
}
.black-color{
    color:$black;
    fill: $black;
}
.black-background{
    background:$black;
}
.white-color{
    color: $white !important;
    fill: $white;
}
.white-bg{
    background:$white;
}

/* text and headers */
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 500;
  color: $primary;
}
h1 {
  font-size: 4.209em;
  }
h2 {
  font-size: 3.157em;
}
h3 {
  font-size: 2.369em;
}
h4 {
  font-size: 1.777em;
}
h5 {
  font-size: 1.333em;
  font-weight: 400;
}
p {
  font-size: 18px;
  font-weight: 400;
}
#about-info p{
  font-size: 14px;
}
label {
  position: relative;
  top: 26px;
  font-size: .5em;
  font-family: $secondary-font;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: $grey;
  padding: 0px 20px 7px 20px;
}
.label {
  opacity: .6;
  padding-right: $xs;
}
.sm-text {
  font-size: 0.75em;
}
.xl-text {
  font-size: 120px;
}
.center-text {
    text-align: center;
}
.right-text{
    text-align: right;
}
.left-text{
    text-align: left;
}
.uppercase{
    text-transform: uppercase;
}
.bold {
    font-weight: 500;
}

/* navigation */
.header, .header-mobile {
  @include transition;
  background: none;
  position: fixed;
  z-index: 10;
  width: 100vw;
  padding: 10px;
  i {
    font-size: 34px;
  }
}
.header-logo, .header-logo-dark {
  width: 60px;
}
.link-container{
  padding: $xs $sm;
}
.header-link {
  color: $white;
  font-family: $secondary-font;
  font-weight: 700;
}
.header-link:hover {
  color: $accent;
}
.header-link.active {
  color: #C7992D !important;
}
.header-link.active::after {
  @include transition;
  content: '';
  display: block;
  position: relative;
  top: 5px;
  height: 2px;
  width: 100%;
  background: $accent;
}
.header-link::after {
  @include transition;
  content: '';
  display: block;
  position: relative;
  top: 5px;
  width: 0;
  height: 2px;
  background: $accent;
  transition: width .2s ease-in-out;
}
.scrolled{
  @include transition;
  background: $white;
  @include shadow-light;
  .header-logo-dark, .menu-icon-dark {
    display: block !important;
  }
  .header-logo, .menu-icon {
    display: none !important;
  }
  .header-link {
    color: $secondary;
  }
  .header-link:hover {
    color: $accent;
  }
}
.show-menu {
  @include transition;
  opacity: 1 !important;
  transform: translateX(0px) scale(1) !important;
}
#menu-list {
  position: absolute;
  min-height: 100vh;
  width: 25%;
  min-width: 300px;
  max-width: 500px;
  @include transition;
  @include shadow;
  transform: translateX(-300px) scale(1.25);
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba($primary, 0.97);
  .menu-link {
    color: $white;
    font-weight: 700;
    font-size: 1.75em;
  }
  .menu-link.active {
    color: $accent !important;
  }
  .menu-link.active::after {
    @include transition;
    content: '';
    display: block;
    position: relative;
    top: 5px;
    height: 2px;
    width: 100%;
    background: $accent;
  }
  .menu-link::after {
    @include transition;
    content: '';
    display: block;
    position: relative;
    top: 5px;
    width: 0;
    height: 2px;
    background: $accent;
    transition: width .2s ease-in-out;
  }
}

/* footer */
.footer{
  background: $primary;
  padding: $xl 0 $sm 0;
  color: $grey;
  p {
    font-size: .8em !important;
    color: $light-grey;
    opacity: .8;
    letter-spacing: .02em;
  }
  h6 {
    color: $light-grey;
    opacity: .8;
    letter-spacing: .02em;
  }
}
.footer-logo {
  width: 70px;
  opacity: 0.5;
}

/* links */
a {
  @include transition;
  text-decoration: none;
  font-weight: 500;
  color: $accent;
}
a:hover {
  @include transition;
  color: #D49A3D;
}

/* icons */
i.lg-icon {
    font-size: 40px;
}
i.xl-icon {
    font-size: 65px;
}
i.sm-icon {
    font-size: 22px !important;}

/* inputs */
input {
  font-size: 20px;
  color: $black;
  width: 100%;
  padding: 28px 20px 13px 20px;
  border: none;
}
textarea {
  font-size: 20px;
  color: $black;
  width: 100%;
  min-height: 300px;
  border: none;
  padding: 28px 20px 13px 20px;
  resize: none;
}
input:focus, textarea:focus {
  outline: 2px solid $accent;
  outline-offset: 0px;
}
input::placeholder, textarea::placeholder {
  color: $grey;
}

/* buttons */
.button {
    @include transition;
    @include no-shadow;
    min-width: 180px;
    background: #F7BE35;
    color: $secondary;
    padding: $xs $sm;
    position:relative;
    border: none;
    top:0;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: .095em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center !important;
    font-family: $secondary-font;
    font-weight: 700;
}
.button:hover{
    @include shadow-light;
    @include transition;
    color: $black;
    background: $accent;
    transform: perspective(15cm) rotateX(-2deg) rotateY(5deg);
}

/* misc styles */
i.large {
  font-size: 36px;
}
.absolute{
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  background: $black;
  opacity: 0.5;
}
.block {
  @include transition;
  display: block !important;
  position: relative;
}
.relative {
  position: relative;
}
.inline {
  display: inline-block !important;
}
.oversized{
  @include oversized;
}
.opacity{
  @include opacity;
}
.border {
  border: solid 1px $light-grey;
}
.accent-border {
  border: solid 1px $accent;
}
.top-border {
  top-border: solid 1px $light-grey;
}
.bottom-border {
  bottom-border: solid 1px $light-grey;
}
.circle {
  @include circle;
}
.shadow{
  @include shadow;
}
.shadow-light{
  @include shadow-light;
}
.shadow-dark{
  @include shadow-dark;
}

/* heros */
.xs-hero{
  height: 30vh;
  min-height: 340px;
  margin: auto;
}
.sm-hero{
  height: 50vh;
  max-height: 500px;
  margin: auto;
}
.md-hero{
  height: 85vh;
  margin: auto;
}
.lg-hero{
  height: calc(100vh);
  margin: auto;
}
.xs-hero, .sm-hero, .md-hero, .lg-hero {
  h1, h2, h3, h4, h5, h6{
    color: $white;
  }
}

/* spacing */
.right-align {
	align-content: flex-end;
  text-align: right;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.no-top-padding{
  padding-top: 0 !important;
}
.no-right-padding{
  padding-right: 0 !important;
}
.no-bottom-padding{
  padding-bottom: 0 !important;
}
.no-left-padding{
  padding-left: 0 !important;
}
.xs-padding{
  padding: $xs;
}
.sm-padding{
  padding: $sm;
}
.md-padding{
  padding: $md;
}
.lg-padding{
  padding: $lg;
}
.xl-padding {
  padding: $xl;
}
.xs-top-margin{
  margin-top: $xs;
}
.xs-right-margin{
  margin-right: $xs;
}
.xs-bottom-margin{
  margin-bottom: $xs;
}
.xs-left-margin{
  margin-left: $xs;
}
.sm-top-margin{
  margin-top: $sm;
}
.sm-right-margin{
  margin-right: $sm;
}
.sm-bottom-margin{
  margin-bottom: $sm;
}
.sm-left-margin{
  margin-left: $sm;
}
.md-top-margin{
  margin-top: $md;
}
.md-right-margin{
  margin-right: $md;
}
.md-bottom-margin{
  margin-bottom: $md;
}
.md-left-margin{
  margin-left: $md;
}
.lg-top-margin{
  margin-top: $lg;
}
.lg-right-margin{
  margin-right: $lg;
}
.lg-bottom-margin{
  margin-bottom: $lg;
}
.lg-left-margin{
  margin-left: $lg;
}
.xl-top-margin{
  margin-top: $xl;
}
.xl-right-margin{
  margin-right: $xl;
}
.xl-bottom-margin{
  margin-bottom: $xl;
}
.xl-left-margin{
  margin-left: $xl;
}

/* page layout */
.background-image {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.background-image-right {
  background-size: 70%;
  background-position: top right;
  background-repeat: no-repeat;
}
#about-table div.xs-12 {
  padding: $xs $xs $xs $sm;
}
.angle-top {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
.angle-bottom{
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
}
.angle-both{
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.above-z-index{
  position: relative;
  z-index: 2;
}
.behind-z-index{
  position: relative;
  z-index: -1;
}
.sm-max-width{
  @include transition;
  width: 86%;
  max-width:800px;
  margin: 0 auto;
}
.max-width{
  @include transition;
  width: 96%;
  max-width:1100px;
  margin: auto;
}
.full-width{
	width: 100%;
}
.full-height{
  height:100%;
}
.hide-for-small {
  display: block;
}
.show-for-small {
  display: none !important;
}

@media only screen and (max-width: 760px) {
  .first-on-mobile {
    order: -1;
  }
  .hide-for-small {
    display: none !important;
  }
  .show-for-small {
    display: block !important;
  }
  .xs-padding{
    padding: $xs / 1.5;
  }
  .xs-top-margin{
    margin-top: $xs / 1.5;
  }
  .xs-right-margin{
    margin-right: $xs / 1.5;
  }
  .xs-bottom-margin{
    margin-bottom: $xs / 1.5;
  }
  .xs-left-margin{
    margin-left: $xs / 1.5;
  }
  .sm-padding{
    padding: $sm / 1.5;
  }
  .sm-top-margin{
    margin-top: $sm / 1.5;
  }
  .sm-right-margin{
    margin-right: $sm / 1.5;
  }
  .sm-bottom-margin{
    margin-bottom: $sm / 1.5;
  }
  .sm-left-margin{
    margin-left: $sm / 1.5;
  }
  .md-padding{
    padding: $md / 1.5;
  }
  .md-top-margin{
    margin-top: $md / 1.5;
  }
  .md-right-margin{
    margin-right: $md / 1.5;
  }
  .md-bottom-margin{
    margin-bottom: $md / 1.5;
  }
  .md-left-margin{
    margin-left: $md / 1.5;
  }
  .lg-padding{
    padding: $lg / 1.5;
  }
  .lg-top-margin{
    margin-top: $lg / 1.5;
  }
  .lg-right-margin{
    margin-right: $lg / 1.5;
  }
  .lg-bottom-margin{
    margin-bottom: $lg / 1.5;
  }
  .lg-left-margin{
    margin-left: $lg / 1.5;
  }
  .xl-padding{
    padding: $xl / 1.5;
  }
  .xl-top-margin{
    margin-top: $xl / 1.5;
  }
  .xl-right-margin{
    margin-right: $xl / 1.5;
  }
  .xl-bottom-margin{
    margin-bottom: $xl / 1.5;
  }
  .xl-left-margin{
    margin-left: $xl / 1.5;
  }
  /* text and headers */
  h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 500;
    color: $primary;
  }
  h1 {
    font-size: 2.89em;
    line-height: 1.3em;
    }
  h2 {
    font-size: 2.89em;
  }
  h3 {
    font-size: 1.89em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
    font-weight: 400;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }

  .footer {
    padding-top: $xl / 2;
    padding-bottom: $xl / 2;
    h5 {
      font-size: 1.5em;
      margin-bottom: 5px;
    }
  }
  .background-image-right {
    background-size: 500px;
    background-position: top right -50vw;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (min-width: 1900px) {
  h1 {
    font-size: 6em;
  }
  .sm-max-width{
    @include transition;
    width: 86%;
    max-width:850px;
    margin: 0 auto;
  }
  .max-width{
    @include transition;
    width: 96%;
    max-width:1350px;
    margin: auto;
  }
}
